<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338570364391-pt7nrfss8g9ku0ar5h78ftncfme9ueoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338570364391-pt7nrfss8g9ku0ar5h78ftncfme9ueoc</string>
	<key>API_KEY</key>
	<string>AIzaSyDI0X2a98K-Czz7TncrUdr1Gv547us7H3o</string>
	<key>GCM_SENDER_ID</key>
	<string>338570364391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.honjob</string>
	<key>PROJECT_ID</key>
	<string>final-352b2</string>
	<key>STORAGE_BUCKET</key>
	<string>final-352b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338570364391:ios:4ca224f735cbf553a4e942</string>
</dict>
</plist>